$pageWidthlg: 100%;
$pageMaxWidthlg: 100%;
$pageMaxWidthxl: 984px;
$pageMaxWidthAll: 1160px;
$minorText: rgb(89, 89, 89);
$secondColor: rgb(143, 110, 110);
$minorColor: rgb(89, 89, 89);
$hoverSecondColor: rgb(71, 71, 71);
$borderColorBlogsAbstract: rgb(226, 226, 226);
$lightBorder: rgb(232, 234, 232);
