$color: rgb(27, 27, 27);
$activeColor: rgb(143, 110, 110);
.blogs {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__list {
    box-sizing: border-box;
    padding: 40px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    @include md {
      padding: 30px;
    }

    @include lg {
      padding: 40px 60px;
    }
  }

  &__item {
    grid-column: span 1;
    @include lg {
      grid-column: span 2;
    }
  }

  &__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}
