.information {
  display: flex;
  gap: 10px;

  &__createdAt {
    color: $minorText;
    font-size: small;
  }

  &__hr {
    color: $minorText;
    font-size: small;
  }

  &__category {
    text-transform: capitalize;
    color: $minorText;
    font-size: small;
  }
}
