.landing {
  position: relative;
  display: block;
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 45%;
    left: 5%;
    color: white;
    padding-left: 35px;
    border-left: 1px solid white;
    font-size: 3rem;
  }
}
